<h1 class="text-2xl font-bold mb-6">Cadastrar Novo Professor</h1>

<form (ngSubmit)="cadastrarProfessor()" #form="ngForm" class="grid gap-4 max-w-md mx-auto">
  <div>
    <label class="block mb-1 font-medium">Nome</label>
    <input type="text" [(ngModel)]="professor.nome" name="nome" class="w-full border rounded p-2" required />
  </div>

  <div>
    <label class="block mb-1 font-medium">Escola</label>
    <input type="text" [(ngModel)]="professor.escola" name="escola" class="w-full border rounded p-2" required />
  </div>


  <div class="relative">
    <label class="block mb-1 font-medium">Senha</label>
    <input
      [type]="senhaVisivel ? 'text' : 'password'"
      [(ngModel)]="professor.senha"
      name="senha"
      class="w-full border rounded p-2"
      required
    />
    <button
      type="button"
      (click)="toggleSenhaVisivel()"
      class="absolute right-2 top-1/2 transform -translate-y-1/2 text-gray-500"
    >
      <i [ngClass]="senhaVisivel ? 'fa fa-eye-slash' : 'fa fa-eye'"></i> <!-- Ícone do olho -->
    </button>
  </div>

  <button type="submit" class="bg-blue-600 text-white px-4 py-2 rounded hover:bg-blue-700">
    Cadastrar
  </button>
</form>


<div class="container">
  <h2>Cadastrar Novo Software</h2>

  <form (ngSubmit)="onSubmit()" #softwareForm="ngForm">
    <div class="form-group">
      <label for="nome">Nome do Software:</label>
      <input
        type="text"
        id="nome"
        class="form-control"
        required
        [(ngModel)]="software.nome"
        name="nome"
        #nome="ngModel"
      />
      <div *ngIf="nome.invalid && nome.touched" class="text-danger">
        O nome é obrigatório.
      </div>
    </div>

    <div class="form-group">
      <label for="versao">Versão:</label>
      <input
        type="text"
        id="versao"
        class="form-control"
        required
        [(ngModel)]="software.versao"
        name="versao"
        #versao="ngModel"
      />
      <div *ngIf="versao.invalid && versao.touched" class="text-danger">
        A versão é obrigatória.
      </div>
    </div>

    <div class="form-group">
      <label for="link">Link de Download:</label>
      <input
        type="url"
        id="link"
        class="form-control"
        required
        [(ngModel)]="software.link"
        name="link"
        #link="ngModel"
      />
      <div *ngIf="link.invalid && link.touched" class="text-danger">
        O link é obrigatório.
      </div>
    </div>

    <div class="form-group">
      <label for="softwareLivre">Software Livre:</label>
      <input
        type="checkbox"
        id="softwareLivre"
        [(ngModel)]="software.softwareLivre"
        name="softwareLivre"
      />
    </div>

    <button
      type="submit"
      class="btn btn-primary"
      [disabled]="softwareForm.invalid"
    >
      Cadastrar Software
    </button>
  </form>
</div>

