.professor-dashboard {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding: 2rem;
  background: linear-gradient(135deg, #a39595, #1114a1);


  h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
    text-align: center; // <- aqui está a correção
    color:#f9f9f9;
  }

  .actions {
    display: flex;
    justify-content: flex-end;
  }

  .new-software-form {
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 12px;
    background-color: #f9f9f9;
  }
}


/*toast*/
.toast {
  position: fixed;
  bottom: 2rem;
  right: 2rem;
  background-color: #38a169; // verde tipo "sucesso"
  color: white;
  padding: 1rem 1.5rem;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
  font-weight: bold;
  z-index: 9999;
  animation: fadeInOut 3s ease-in-out;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  10%, 90% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(20px);
  }
}

